.benefits {
    @extend %section;
    @extend %container;
}
.benefits-section {
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 0px;
    }
}
.benefits__list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    }
}
.benefits__item {
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px)/2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px)/3);
    }
}
.benefits__item:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0px;
    }
}
.benefits__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--secondary-bcg-color);
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }

}
.benefits__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 767.98px) {
        text-align: center;
    }

}
.benefits__text {
    font-size: var(--font-size-main);
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}