.customer {
    @extend %section;
    @extend %container;
}
.customer__list {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}
.customer__item {
    flex-basis: calc((100% - 30px)/2);
    
    @media screen and (min-width: 768px) {
       flex-basis: calc((100% - 60px)/3);
    }
}
.customer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    @include transition (color, border-color);

    &:hover, 
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}
.customer__icon {
    fill: currentColor;
}