.footer-address-socials-wrap {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    

        @media screen and (max-width: 1199.98px) {
        margin-bottom: 60px;
        } 
    } 
}

.footer-contacts__wrap {
    @media screen and (max-width: 767.98px) {
        margin-bottom: 60px;
    }
    @media screen and (max-width: 1199.98px) {
        text-align: center;
    }  
    
    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }  
}
.address__list {
    margin-top: 20px;
    font-style: normal;
    font-size: var(--font-size-main);
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
.address__item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-address.link {
    color: var(--secondary-title-color); 
    @include transition (color);
}
.address__link {
    color: var(--footer-link-color);
    @include transition (color);

    &:hover, 
    &:focus {
        color: var(--accent-color);
    }
}

