.logo {
    font-family: var(--secondary-font);
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo--dark-theme {
    color: var(--logo-color);
}
.logo--light-theme {
    color: var(--secondary-title-color);
}
.header-logo {
    margin-right: 92px;

    @media screen and (max-width: 1199.98px) {
        margin-right: 88px;
    }

}