body {
    font-family: var(--main-font);
    font-style: normal;
    font-size: var(--font-size-main);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--background-color);
}