%section {
    padding-top: 60px;
    padding-bottom: 60px; 

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
%container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
%main-button {
    display: block;
    align-items: center;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: var(--font-size-secondary);
    line-height: 30px;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--secondary-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
        animation: pulsate-bck 0.5s ease-in-out infinite both;
    }
}