:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --secondary-title-color: #FFFFFF;
    --accent-color: #2196F3;
    --background-color: #FFFFFF; 
    --secondary-bcg-color: #F5F4FA;
    --logo-color: #000000;
    --footer-bcg-color: #2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --font-size-main: 14px;
    --font-size-secondary: 16px;
    --main-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --indent: 30px;
    --anim-duration: 300ms;
    --anim-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}